go 1.22.5

use (
	./examples/multipackage-demo
	./internal/analyzer
	./internal/mapper
	./internal/module
	./internal/optimizer
	./internal/orchestrator
	./internal/project
	./internal/tests
	./internal/transpiler
	./pkg/cli
	./pkg/optimizer
	./runtime
	./tests
)
